:root{
    --color-principal: #0A9875;
}

.btn-modern{
    width: 200px;
    height: 150px;
    background-color: var(--color-principal);
    border: 1px solid black;
    color: var(--color-principal);
    font-size: 28px;
    transition: all 0.4s;
}

body{
    background-color: #287562;
}

.btn-modern:hover{
    transform: translateY(-5px);
    background-color: #0ABA8F;
    box-shadow: -5px 10px 5px black;
    color: white;
}
